<p style="color: green"><%= notice %></p>

<div>
  <p>
    <strong>Username:</strong>
    <%= current_user.username %>
  </p>
  <% unless current_user.ratings.empty? %>
    <p>
      <%= "Created #{pluralize(@user.ratings.count, "rating")}, average rating: #{@user.average_rating}" %>
    </p>
    <ul>
      <% @ratings.each do |rating| %>
        <li>
          <%= rating %>
          <%= link_to "Delete",
          @user,
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %>
  |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
