<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= link_to "#{beer.name}", beer_path(beer.id) %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to "#{beer.brewery.name}", brewery_path(beer.brewery) %>
  </p>

  <p>
    <% if beer.ratings.empty? %>
      <%= "No ratings yet" %>
    <% else %>
      <%= "#{beer.name} has #{pluralize(beer.ratings.count, "rating")} | Average rating: #{beer.average_rating()}" %>
    <% end %>
  </p>

</div>
