<p style="color: green"><%= notice %></p>

<%= render @beer %>

<div>
  <%= link_to "Edit this beer", edit_beer_path(@beer) %>
  |
  <%= link_to "To beers", beers_path %>
  |
  <%= link_to "To breweries", breweries_path %>
  <br/>
  <%= button_to "Destroy this beer", @beer, method: :delete %>
</div>
